.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.gradient{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #000;
	top: 0px;
	left: 0px;
	z-index: 2;
	opacity: 0;
	transition: 0.4s;
}
.square{
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	z-index: 3;
	border: 1px solid white;
	opacity: 0;
	transition:0.4s;
	transform: scale(0);

}
.title{
    width: 80%;
    left: 10%;
	font-size: 1.2em;
	position: absolute;
	top: 65%;
	z-index: 4;
	font-family: Arial;
	text-decoration: none;
	color: white;
	text-align: center;
	transition:0.4s;
    opacity: 0;
}
.container:hover .title{
	top: 35%;
    opacity: 1;
}
.container:hover .square{
	transform: scale(1);
	opacity: 1;
}
.container:hover .gradient{
	opacity: 0.65;
}
.movieImg {
    width: 100%;
}

.genres {
    display: flex;
}

.genres__item {
    background: #00000047;
    padding: 3px;
    margin: 5px 5px 0 0;
    border-radius: 3px;
    cursor: pointer;
}